a {
  color: #7f0000;
}
a:focus, a:hover {
  color: #cf1919;
}
body {
  background: #ffafaf;
  color: #cf1919;
}
#calculator #tip th {
  background: url(/css/img/plus-pink.gif) left center no-repeat;
}
.loader {
  background-color: #ffafaf;
  background-image: url(/css/img/loading-pink.gif);
}
li#pink {
  clear: both;
  float: right;
  background: url(/css/img/pink.gif) center left no-repeat;
}
#pink a {
  display: block;
  line-height: 23px;
  padding: 0 0 3px 18px;
}
#promo {
  background: #222;
  border-color: #cf1919Å;
}